.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 15px;
}

.main-content {
  padding: 20px;
}

header, .about, .projects, .contact {
  text-align: center;
}

.project-card {
  background-color: #444;
  padding: 20px;
  margin: 10px auto;
  border-radius: 8px;
  width: 80%;
}

footer {
  background-color: #333;
  color: #d3d3d3;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer a {
  color: #a29bfe;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #d3d3d3;
}
