:root {
  /* Light Theme Colors */
  --background-color: #ffffff;
  --text-color: #333333;
  --link-color: #5b6eff;
  --card-background-color: #f0f0f0;
  --highlight-color: #5b6eff; /* Purple or blue accent color */
}

[data-theme="dark"] {
  /* Dark Theme Colors */
  --background-color: #1c1c1c;
  --text-color: #d3d3d3;
  --link-color: #a29bfe;
  --card-background-color: #333;
  --highlight-color: #a29bfe; /* Dark theme accent color */
}

body, html {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.project-card, .about-card, .mini-card {
  background-color: var(--card-background-color);
}

a:hover {
  color: #d3d3d3;
}
